<div class="splash-page-container">

  <div class="splash-page-form">

    <h1>Sign In</h1>

    <form action="/session" method="post">
      <input type="hidden"
             name="authenticity_token"
             value="<%= form_authenticity_token %>">

      <label>Username
        <input type="text" name="user[username]"><br>
      </label><br>

      <label>Password
        <input name="user[password]" type="password"><br>
      </label><br>

      <input type="submit" value="Submit"><br>

      <button type="button" class="guest-sign-in-button" name="button">Sign in as a guest!</button>
    </form>
  </div>

  <%= link_to "Sign up", new_user_url, class: 'login-option' %>

</div>
