<div class="splash-page">
  <div class="splash-page-container">

    <%= image_tag "foodiegram-logo-white.png" %>

    <div class="splash-page-form">

      <h1>Log In</h1>

      <form action="/session" method="post">
        <input type="hidden"
               name="authenticity_token"
               value="<%= form_authenticity_token %>">

        <label>Username
          <input type="text" name="user[username]" value="guest_user"><br>
        </label><br>

        <label>Password
          <input name="user[password]" type="password" value="password"><br>
        </label><br>

        <input type="submit" class="btn btn-primary" value="Submit"><br>
      </form>

      <%= link_to "Sign up", new_user_url, class: 'login-option' %>
    </div>


  </div>
</div>
