<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed"
              data-toggle="collapse"
              data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
      <span class="pull-left">
        <img src="<%= CURRENT_USER_PROFILE_IMG_URL %>" alt="" />
      </span>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle"
             data-toggle="dropdown" role="button"
             aria-expanded="false">
              <%= CURRENT_USERNAME %>
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#/users/<%= CURRENT_USER_ID %>">Profile</a></li>
            <li><a href="#/posts/new">New Post</a></li>
            <li><a href="#/users">Search</a></li>
            <li>
              <!-- delete session and log out -->
              <form class="" action="/session" method="post">
                <input type="hidden" name="_method" value="delete">
                <input type="hidden" name="authenticity_token"
                       value="<%= $('meta[name="csrf-token"]').attr('content') %>">
                <input class="logout-button" type="submit" value="Log out">
              </form>
            </li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
