<div class="user-profile-edit">

  <h3>Edit your profile: </h3>

  <form class="user-content-form">

    <!-- <label for="name">Description:<br></label>
    <input type="text" name="name" value="<%= user.name %>"><br> -->

    <label for="description">Description:</label><br>
    <input type="text"
           name="description"
           value="<%= user.escape('description') %>">
    <br><br>

    <!-- <label for="gravatar">Gravatar:
      <input type="text" name="user[gravatar_url]" value="">
    </label> -->

    <input class="btn btn-success user-profile-edit-submit" type="submit" value="Save edits">
  </form>
</div>
