<div class="user-profile-edit">

  <h3>Edit your profile: </h3>

  <form class="user-content-form">

    <label for="name">Name:</label><br>
    <input type="text"
           name="name"
           value="<%= user.escape('name') %>"><br><br>

    <label for="description">Description:</label><br>
    <input type="text"
           name="description"
           value="<%= user.escape('description') %>"><br><br>

    <div class="profile-image-preview">
        <img src="<%= user.escape('profile_img_url') %>">
    </div>

    <label for="profile_img_url">Upload profile pic:</label><br>
      <input type="hidden"
             data-fp-apikey="AvC7z9BxTV6wa3wlqCpMwz"
             data-fp-mimetypes="image/*"
             data-fp-container="modal"
             data-fp-crop-dim="45, 45"
             data-fp-crop-force="true"
             onchange="alert(event.fpfile.url)"
             data-fp-services="COMPUTER,FACEBOOK,GOOGLE_DRIVE,FLICKR,INSTAGRAM,URL,WEBCAM">

      <button class="btn btn-primary add-image-button" type="button">Choose image</button>
    <br><br>

    <input class="btn btn-success user-profile-edit-submit" type="submit" value="Save edits">
  </form>
</div>
