<div class="users-index-container">
  <div class="foodiegram-search">
    <form onsubmit="return false;">
      <input class="search-box"
             type="search"
             name="username"
             placeholder="Search"
             autocomplete="off">
    </form>
  </div>
  <br>
  <div class="search-by-options">
    <span><a class="search-by-users" href="#">Users</a></span>
    <span><a class="search-by-tags" href="#">Tags</a></span>
  </div>

  <ul class="users-index">
    <hr>

  </ul>
  </div>
</div>
