<div class="user-profile">
  <div class="user-header jumbotron">

  </div>
  <h3>
    <a href="#/users/<%= user.id %>" alt="">
      <span class="foodiegram-username">
        @<%= user.escape('username') %>
      </span>
    </a>
  </h3>

  <div class="user-profile-thumbnail-grid">
    <div class="col-s-9 col-s-3">
      <a href="#" class="thumbnail profile-item"><div></div></a>
      <a href="#" class="thumbnail profile-item"><div></div></a>
      <a href="#" class="thumbnail profile-item"><div></div></a>
      <a href="#" class="thumbnail profile-item"><div></div></a>
      <a href="#" class="thumbnail profile-item"><div></div></a>
      <a href="#" class="thumbnail profile-item"><div></div></a>
      <a href="#" class="thumbnail profile-item"><div></div></a>
      <a href="#" class="thumbnail profile-item"><div></div></a>
      <a href="#" class="thumbnail profile-item"><div></div></a>
      <a href="#" class="thumbnail profile-item"><div></div></a>
      <a href="#" class="thumbnail profile-item"><div></div></a>
      <a href="#" class="thumbnail profile-item"><div></div></a>
      <a href="#" class="thumbnail profile-item"><div></div></a>
      <a href="#" class="thumbnail profile-item"><div></div></a>
      <a href="#" class="thumbnail profile-item"><div></div></a>
      <div>
  </div>
</div>
