<div class="new-post-form">

  <div class="posts-index-item ">
    <form class="post-form">
      <p>
        Edit image:
      </p>
      <div class="new-post-placeholder">
        <div class="new-post">
          <img src="<%= post.escape('image_url') %>"  alt=""/>
        </div>
        <input type="hidden"
               name="post[image_url]"
               data-fp-apikey="AvC7z9BxTV6wa3wlqCpMwz">

      </div>
      <button class="btn btn-primary edit-image-button" type="button">Change image</button>
      <p>
        Edit description:
      </p>
      <textarea name="body"
                class="post-form-body" rows="2" cols="54"><%= post.escape('body') %></textarea>
      <button type="submit" class="save-edits btn btn-success post-upload-button">
        Save edits!
      </button>
    </form>
  </div>

</div>
