<div class="new-post-form">

  <div class="posts-index-item ">
    <form class="post-form">
      <p>
        Edit image:
      </p>
      <div class="new-post-placeholder">
        <div class="new-post">
          <img src="<%= post.escape('image_url') %>"  alt=""/>
        </div>
        <input type="hidden"
               data-fp-apikey="AvC7z9BxTV6wa3wlqCpMwz"
               data-fp-mimetypes="image/*"
               data-fp-container="modal"
               data-fp-image-dim="400, 400"
               data-fp-maxSize="4194304"
               data-fp-crop-dim="100, 100, 200, 200"
               data-fp-image-quality="80"
               data-fp-store-location="s3"
               onchange="alert(event.fpfile.url)"
               data-fp-services="COMPUTER,FACEBOOK,GOOGLE_DRIVE,FLICKR,INSTAGRAM,URL,WEBCAM">

      </div>
      <button class="btn btn-primary edit-image-button" type="button">Change image</button>
      <p>
        Edit description:
      </p>
      <textarea name="body"
                class="post-form-body" rows="2" cols="54"><%= post.escape('body') %></textarea>
      <button type="submit" class="save-edits btn btn-success post-upload-button">
        Save edits!
      </button>
    </form>
  </div>

</div>
