<div class="new-post-form">

  <div class="posts-index-item ">
    <form class="post-form">
      <p>
        Add an image to post:
      </p>
      <div class="new-post-placeholder">
        <div class="new-post">
          <% if (post.get('image_url')) { %>
            <img src="<%= post.escape('image_url') %>">
          <% } %>
        </div>
        <input type="hidden"
               name="post[image_url]"
               data-fp-apikey="AvC7z9BxTV6wa3wlqCpMwz"
               data-fp-mimetypes="image/*"
               data-fp-container="modal"
               data-fp-image-dim="400, 400"
               data-fp-maxSize="4194304"
               data-fp-crop-dim="400, 400"
               data-fp-image-quality="80"
               data-fp-store-location="s3"
               onchange="alert(event.fpfile.url)"
               data-fp-services="COMPUTER,FACEBOOK,GOOGLE_DRIVE,FLICKR,INSTAGRAM,URL,WEBCAM">

        <button class="btn btn-primary add-image-button" type="button">Add an image</button>
      </div>
      <p>
        Add a description:
      </p>
      <textarea name="body"
                class="post-form-body" rows="2" cols="54"></textarea>
      <button type="submit" class="btn btn-success post-upload-button">
        Post!
      </button>
    </form>
  </div>

</div>
