<ul class='posts'>

  <% posts.each(function (post) { %>
    <li>
      <div class="post-header">
        <%= post.escape('author_id') %>
      </div>
      <div class="posts-index-item ">
        <img src="<%= post.get('image_url') %>" alt="" />
        <div class="post-footer">
          <span class="body-username"><%= post.escape('author_id') %></span>
          <%= post.escape('body') %>
        </div>
      </div>
    </li>
  <% }); %>

</ul>
