<div class="splash-page-form">

  <h1>Sign Up</h1>

  <form action="/users" method="post">
    <input type="hidden"
           name="authenticity_token"
           value="<%= form_authenticity_token %>">

    <label>Username
      <input type="text" name="user[username]"><br>
    </label><br>

    <label>Password
      <input name="user[password]" type="password"><br>
    </label><br>

    <input type="submit" value="Submit"><br>
  </form>


  <%= button_to "Sign in as a guest!", users_url, class: 'guest-sign-in-button' %>

  <!-- <button type="button" class="guest-sign-in-button" name="button">Sign in as a guest!</button> -->
</div>
