<div class="welcome-container">
  <div class="login-container">
    <form class="auth-form" action="index.html" method="post">
      <input type="text" name="user[username]" value="<%= @user.username %>">
      <input type="password" name="user[password]" value="">
      <input type="submit" name="name" value="Submit">
    </form>
  </div>
