/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

html, body {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}


body {
  background-color: #fafafa;
}

a:hover {
   text-decoration: none;
 }

hr {
  background-color: #ffffff;
  width: 90%;
}

.navbar {
  background-color: #ffffff;
}
.navbar > .container-fluid .navbar-brand {
  position: absolute;
  margin-left: 0;
  height: 64px;
}

.logout-button {
  -moz-user-select: text;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1em;
  margin: 0;
  padding: 1px 20px;
  text-align: left;
  width: 100%;
}

li .logout-button:hover {
  background-color: #efefef;
}

.navbar-brand {
  background: url('foodiegram-logo.png') no-repeat top center;
  background-size: 70%;
  width: 266px;
}

.posts {
  height: 402px;
  width: 400px;
  padding: 0;
  margin: auto;
  li {
    list-style: none;
  }
}

.post-header {
  border: 1px solid #DCDCDC;
  box-sizing: border-box;
  padding: 13px;
  background-color: #ffffff;
}

.post-style-mixin {
  border: 1px solid #DCDCDC;
  background-color: #ffffff;
}

.posts-index-item {
  @extend .post-style-mixin;
  border-top: none;
  margin-bottom: 20px;
  overflow: hidden;
  -webkit-box-shadow: 19px 15px 40px -19px rgba(102,102,102,0.59);
  -moz-box-shadow: 19px 15px 40px -19px rgba(102,102,102,0.59);
  box-shadow: 19px 15px 40px -19px rgba(102,102,102,0.59);
  a img {
    max-height: 400px;
    width: 100%;
  }
}

.post-footer {
  box-sizing: border-box;
  padding: 13px;
  padding-bottom: 0;
  border-top: 1px solid #DCDCDC;
  background-color: #ffffff;
}
.body-username {
  font-weight: bold;
}

.user-profile {
  margin: auto;
  width: 80%;
}

.user-header {
  border: 1px solid #DCDCDC;
  height: 242px;
  border-bottom-right-radius:15px;
  border-bottom-left-radius: 15px;
  margin: -45px 0 0;
  background-color: #ffffff;
}

.user-profile-thumbnail-grid {
  background-color: #ffffff;
  margin: auto;
  border: 1px solid #DCDCDC;
  border-radius: 4px;

}

a.thumbnail.profile-item {
  width: 21%;
  background-color: #FFF;
  margin: 1.2% -7% 0 7%;
  display: inline-block;
 img {
    margin: 0;
  }
}

.foodiegram-username {
  line-height: 2em;
}

.user-profile-name {
  font-size: 16px;
  padding-left: 25px;
}

.user-content-form {
  padding: 13px;
}

.user-bio {
  font-size: 16px;
  line-height: 2em;
  padding-left: 35px;
}

.user-profile-edit {
  display: table;
  margin: auto;
}

.new-post-form {
  width: 425px;
  margin: auto;
}

.post-form {
  padding: 3%;
}

.new-post-placeholder {
  padding: 2% 0 5%;
  overflow: hidden;
  max-height: 400px;
}

.new-post {
  padding-bottom: 5%;
  img {
    width: 100%;
  }
}

.post-form-body {
  margin: auto;
}

.post-upload-button {
  display: block;
  margin: auto;
}

.edit-post-page {
  margin-top: -20px;
}

.edit-profile-button {
  position: relative;
  float: right;
}

.edit-image-button {
  margin: 15px 0;
}

.users-index-container {
  width: 400px;
  margin: auto;
}

.foodiegram-search {
  padding: 0 35%;
  margin: auto;
  border-radius: 25px;
}

.search-by-options {
  margin: auto;
  text-align: center;
  a {
    padding: 0 13%;
    font-size:19px;
  }

}

.users-index {

}

.user-index-item {
  list-style: none;
}

.search-user-username {
  display: inline-block;
}

.search-user-description {
  padding-left: 10%;
}

.post-edit-options {
  padding: 5px;
  color: #888;
}

.post-comment {

}

.post-like-box {
  border: 1px solid #DCDCDC;
  margin-left: 13px;
  width: 31px;
  height: 30px;
  background: url('heart-empty.png') no-repeat center;
}

.liked {
  background: url('heart-red.png') no-repeat center;
}

.post-comment-field {
  width: 80%;
  padding: 0 20px;
  line-height: 2.2em;
  border: none;
}

.post-options-box {
  // border: 1px solid #888;
  // width: 30px;
  // height: 30px;
}

.nav-avatar {
  margin-top: 10px;
}

.user-avatar {
  border-radius: 30px;
  width: 30px;
}
