// Place all the styles related to the staticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.splash-page-container {
  display: inline-block;
  margin: 0 37%;
}

.splash-page-form {
  width: 300px;
  height: 226px;
  border: 1px solid black;
  border-radius: 5px;
  margin: 60% auto;
  text-align: center;
  form {
    position: relative;
    display: inline-block;
    padding: 24px;
  }
}

.login-option {
  position: absolute;
  top: 438px;
  left: 556px;
}
