<% if flash[:errors] %>
  <div class="alert alert-warning alert-dismissible" role="alert">
     <button type="button" class="close" data-dismiss="alert">
       <span aria-hidden="true">&times;</span>
       <span class="sr-only">Close</span>
      </button>
  <%= flash[:errors].join("<br>").html_safe %>
  </div>
<% end %>

<% if signed_in? %>
  <div id="navbar"></div>
  <script>
    ( window.CURRENT_USER_ID = <%= current_user.id %> );
    ( window.CURRENT_USERNAME = "<%= current_user.username %>" );
    ( window.CURRENT_USER_PROFILE_IMG_URL = "<%= current_user.profile_img_url %>" );
  </script>
<% end %>
